.header{
  background-color: #9af2f5;
  padding: 0px;
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: Brush Script MT;
}

.image1{
  margin-right: 100px;
}
.experience{
  background
}

.aboutme{
  margin-left: 30px;
}

body{
  background-color: #c7fdff;
  color: black;
  font-family: luckiest guy;
  font-size: 20px;
}
